@using Microsoft.AspNetCore.Identity
@using TaskManagementSys.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-controller="Account" asp-action="Logout" class="form-inline">
        <span class="text-dark me-2">Привет, @UserManager.GetUserName(User)</span>
        <button type="submit" class="btn btn-outline-secondary btn-sm">Выход</button>
    </form>
}
else
{
    <a class="btn btn-outline-primary btn-sm" asp-controller="Account" asp-action="Login">Вход</a>
    <a class="btn btn-outline-success btn-sm ms-2" asp-controller="Account" asp-action="Register">Регистрация</a>
}
